/*画像位置センター*/
p.img_center{text-align: center;}

/*目次*/
ul.table of contents{
  width: 600px;
  border:1px solid red;
  padding:0;
  font-size:0px;
}
ul.table of contents li {
  width:118px;
  border:1px solid black;
  display: inline-block;
  text-align: center;
  font-size:16px;
}

ul.table of contents li:first-child {
  height:60px;
}

ul.table of contents li a {
  display: block;
}
